.search-page-text{
	font-size: 22px;
	color: white;
	white-space: nowrap;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-left: 20px;
}

.wrap{
	display: flex;
	margin-left: -20px;
}

.square {
	border-radius: 10px;
	border: 2px solid white;
	padding: 20px;
	width: 150px;
	min-width: 150px;
	height: 200px;
	margin: 0px 2% 0px 2%;
}

.spaced{
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
}

.spaced p{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 13px;
	padding-top: 1%;
	/* align-items: baseline; */
}

.button-container img {
	width: auto;
	height: auto;
	position: relative;
	left: 1rem;
	top: 0.75rem;
}

.center {
	object-fit: contain;
	display: block;
	width: auto;
	margin: 0;
	height: 75px;
}

.main-content{
	width: 100%;
	height: 100%;
	position: relative;
}